
{% extends 'qr/base.html' %}
{% load static %}
{% block content %}
    {% for qr in qrs %}
        <div>
            <h2> <span> &#9998 </span>
                <a href="{% url 'qr_edit' pk=qr.pk %}">{{ qr.name }}</a>
                <a href="{% url 'qr_remove' pk=qr.pk %}">
                    <span style="font-size:25px;">&#10005</span></a>
            </h2>
            <a  href="{% url 'qr_create' pk=qr.pk %}" class="btn btn-default" style="float:right">
                Create QR
            </a>
          <!--  <a  href="" class="btn btn-default" style="float:right">
                 Create QR
            </a>-->
        <!--    <a  href="{% url 'qr_transition' pk=qr.pk %}" style="float:right">
                Future QR image
            </a>-->
            {% if qr.image %}
                {{qr.image}}
                <img    src={{qr.image}}>
            {% endif %}
            <p>published: {{ qr.published_date }}</p>
            <p>{{qr.city}} {{qr.campaing}}, {{qr.sourse}}, {{qr.product}}</p>
            <p>Transitions - {{qr.number_of_transitions}}</p>
        </div>
    {% endfor %}
{% endblock %}
